@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 40px;
}
p{
    font-size: 30px;
}
table {
    width: 800px;
    font-size: 25px;
    
}
th{
    height: 50px;
    
    
}
td{
    height: 50px;
    
    
}
.container {
    margin-top: 50px;
    padding: 30px;
    width: 800px;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}